* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: white;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: flex-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.192);
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.logo {
  position: relative;
  max-width: 80px;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  list-style: none;
}
header ul li a {
  display: inline-block;
  color: #333;
  font-family: 400;
  margin-left: 40px;
  text-decoration: none;
}
.textbook {
  display: flex;
  align-items: center;
}
header ul li a {
  transition: 0.1s;
}
header ul li a:hover {
  color: green;
}
.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content.textbox {
  position: relative;
  max-width: 600px;
}
.content.textbox h2 {
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}
.content.textbox h2 span {
  color: green;
  font-size: 1.2em;
  font-weight: 900;
}
.content.textbox p {
  color: #333;
}
.content.textbox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #017143;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}
.content.imgBox {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}
.content.imgBox img {
  max-width: 34px;
}
.Thumb {
  position: absolute;
  left: 50%;
  bottom: 33px;
  transform: translateX(-50%);
  display: flex;
}
.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}
.thumb li :hover {
  transform: translateY(-15px);
}

.thumb li img {
  max-width: 60px;
}
